/*--------------------------------------------------------------------------------*/
/* Fonts */
/*--------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/* Akzidenz Grotesk
/*------------------------------------------------------------*/

@font-face {
  font-family: 'AkzidenzGrotesk Medium';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/AkzidenzGroteskBE-Md.woff') format('woff');
}

/*------------------------------------------------------------*/
/* Apercu
/*------------------------------------------------------------*/

@font-face {
  font-family: 'ApercuMono';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/ApercuMono.woff') format('woff');
}

/*------------------------------------------------------------*/
/* A-OTF-GothicBBB
/*------------------------------------------------------------*/

@font-face {
  font-family: 'A-OTF-GothicBBBPro';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/A-OTF-GothicBBBPro-Medium.woff') format('woff');
}

/*------------------------------------------------------------*/
/* (Section Name)
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* (Module Name)
/*----------------------------------------*/

/* (Element Name)
/*--------------------*/

